<!DOCTYPE html>
<html>
  <head>
    <title>CapnToadItemShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Home", '/'%>
  <%if !session[:user_id]%>
    <%= link_to "Log In", "/login"%> <%= button_to "Sign Up", "/signup"%>
  <%else%>
    <%= button_to "Log Out", "/logout"%>
    <%if @admin%>
      <%= link_to "Back To Task Hub", user_path(current_user)%>
    <%else%>
      <%= link_to "Your Profile", user_path(current_user)%>
    <%end%>
  <%end%>
  <hr>
  <h1>Captain Toad's Item Shop</h1>
  <h3>"Got some pretty neat stuff I can't use!"</h3>
  <hr>
    <%= yield %>
  </body>
</html>
